<ol class="breadcrumb">
  <liv class="active">
    <%= "Lời ngỏ" %>
  </li>
</ol>

<% if logged_in? %>
<div class="bs-example">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="dropdown">
        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
          Action
          <span class="caret"></span>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation">
            <%= link_to "Add",  new_home_path%>
          </li>
          <li role="presentation">
            <% if Home.first != nil%>
          	<%= link_to "Edit",  edit_home_path(Home.first)%>
            <% end %>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
          	
          </li>
        </ul>
      </li>
    </ul> <!-- /pills -->
  </div>
<% end %>

<div class="container">
<div class="jumbotron bg_white_color">
<div class="center"><i>Lời ngỏ</i></div>
<% if Home.first != nil%>
<%= Home.first.content.html_safe %>
<% end %>
</div>
</div>


<div class="center">
<iframe
  width="800"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD2iSicqoS5gz5ocqBqtXR8LadBeyg45fE
    &q=Cao Xá+Trung Tú+Hà Nội+Vietnam">
</iframe>
</div>

